*{
    text-decoration: none !important;
    text-transform: capitalize;
    list-style: none;
}
/* important */
.btn-green{
    background-color: #96cc2a !important;
    color: #fff !important;
    padding: 4px 12px !important;
    border-radius: 0 !important;
    font-size: 12px !important;
}
.fs-10px{
    font-size: 10px !important;
}
.fs-12px{
    font-size: 12px !important;
}
.fs-15px{
    font-size: 15px !important;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fix{
    clear: both;
}
.bg-light-dark{
    background-color: rgba(0, 0, 0, 0.356) !important;
}
.text-green{
    color: #96cc2a;
}
.text-lgreen{
    color: #009130;
}
.text-dgreen{
    color: #293f00dc;
}
.bg-lighter{
    background-color: rgb(219, 219, 219);
}
.bg-lighter-2{
    background-color:rgb(172, 172, 172);
}
.bg-lighter-3{
    background-color: rgb(207, 207, 207);
}
.bg-lgreen{
    background-color: rgb(75, 255, 20);
}
.bg-dgreen{
    background-color: rgb(29, 65, 0);
}
/* navbar */
nav ul li  a{
    color: black  !important;
}
/* header */
.header{
    background:linear-gradient(rgba(0, 0, 0, 0.342),rgba(255, 255, 255, 0)),url(./images/images-1/banner-real.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 100vh;
}

/* trips */
.trips img{
    width: 70%;
    border-radius: 30px;
    padding: 20px 0;
}

/* welcome */
/* .welcome{
    background:url(./images/images-1/banner2.jpg);
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    width: 100%;
} */
.overlap1{
    background:url(./images/images-1/banner2.jpg) !important;
}
.welcome-msg{
    background-color: #fff;
    margin-left: -70px;
}
.welcome  img{
    width: 100%;
    margin-right: -100px;
}
/* grid */
.grid-inner .card{
    margin: 10px 0;
}
.card-body{
    display: flex;
    align-items: flex-end;
}
/* booking */
.booking{
    background-image: url(./images/images-1/f2.jpg);
    min-height: 100vh;
    background-position: top;
    background-size: cover;
}
.text-shadow{
    text-shadow: 2px 2px 5px #fff;
}
.book-icon i{
    font-size: 40px;
}
/* sub-main */
.sub-main{
    min-height: 50vh;
}
/* footer */
.footer-1{
    background-color:#96cc2a;
    min-height: 10vh;
}
.footer-1 i{
    font-size: 40px;
    color: #fff;
}
.footer-2{
    background-color: #293f00;
}
a{
    color: #fff !important;
}
.footer-2 ul{
    padding: 0 !important;
}
.footer-2 ul li {
    font-size: 12px;
    padding:13px 0;
}
/* -------------------------------------------------------------------------------------------------  */
/* page 2 */
.page2-header{
    background:linear-gradient(rgba(0, 0, 0, 0.322),rgba(0, 0, 0, 0.0)),url(./images/images-2/banner1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 70vh;
}

/* location */
.map{
    font-size: 50px;
    position:absolute;
    top:-10px;
    left: -20px;
    color: rgb(39, 39, 39);
}
/* boat container */
.boat-content{
    background:linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.438),rgba(0, 0, 0, 0.0)),url(./images/images-2/banner2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
/* overlap */
.overlap{
    background:url(./images/images-2/cloud1.jpg);
    background-position: top;
    background-size: cover;
    min-height: 100vh;
}
.overlap .welcome-msg{
    margin-left: -100px !important;
}

/* --------------------------------------------------------------------------------------------------------- */

/* page 3 */
/* page 3 header */
.page3-header{
    background:linear-gradient(rgba(0, 0, 0, 0.619),rgba(0, 0, 0, 0.0)),url(./images/images-3/b1.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 70vh;
}
/* page 3 section-2 */
.p3-section-2{
    background:url(./images/images-3/banner-2.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.p3-section-2 .row-bg{
    background-color: rgba(0, 0, 0, 0.692);
}
.margin-{
    margin-top: -20px;
}
.spacing .col-4 img{
    margin-bottom: 10px !important;
}
/* review */
.review i {
    color: rgb(0, 216, 162);
    font-size: 15px;
}
.review img{
    margin-top: -5px;
}
/* -------------------------------------------------------------------------------------------------------- */
/* page 4 */
form input{
    border-radius:0 !important;
    height: 25px;
    font-size: 12px !important;
}
form .col-12{
    margin: 10px 0;
}
.textarea input{
    height: 90px;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* page 5-1 */
/* header */
.page5-header{
    background: linear-gradient(rgba(0, 0, 0, 0.459),rgba(0, 0, 0, 0.0)),url(./images/images-4/banner1.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 70vh;
}
.three-use{
    border-bottom: 7px solid #96cc2a;
}
.div-hover a{
    color: black !important;
}
.div-hover a:hover{
    color: #96cc2a !important;
    transition: .5s;
}
.g-line{
    height: 3px;
    background-color: #96cc2a;
}
.sm-line{
    height: 1.5px;
    background-color: rgb(0, 0, 0);
}
.page5-section-1 p{
    margin: 0 !important;
    padding: 9px 0;
}
.page5-map iframe{
    min-height: 70vh;
    width: 100%;
    padding: 0 !important;
}

/* page 5-2 */
.vr-line{
    height: 40px;
    width:3px;
    background-color: #96cc2a;
}
/* page 5-3 */
.padding-less{
    padding:1px !important;
}
.vdeo iframe{
    width: 100%;
    min-height: 60vh;
}

/* page-6 */
.page6-header{
    background: linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.0)),url(./images/images-5/banner.jpg);
    min-height: 70vh;
    background-position: bottom;
    background-size: cover;
}
.border-left{
    border-left: 2px solid #747474;
}
.page6-section-2 .trips img{
    border-radius: 5px !important;
}
.page6-section-2 .trips .bg-lighter-3:hover{
    background-color: #009130;
    color: #fff;
    transition: .5s;
}
.bg-shadow{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.363);
}
/* page7 */
.bg-lighter-2-lngr img{
    opacity: .8;
}
/* -------------------------------------------------------------------------------------------------- */

/* media 992px*/
@media only screen and (max-width:992px){
    /* welcome */
    .welcome-msg{
        margin-left: 0;
        margin-top: -100px;
    }
    .welcome img{
        margin-right: 0;
        width: 70%;
    }
    /* page 6 */
    .greeting-card h5{
        font-size: 15px;
    }
    .overlap .welcome-msg{
        margin-left: 0 !important;
        width: 80%;
        margin: 0 auto !important;
        margin-top: -100px !important;
    }

}
/* media 768 */
@media only screen and (max-width:768px){
    /* welcome */
    .welcome-msg{
        margin-left: 0;
        margin-top: -60px;
    }
    .map{
        font-size: 40px;
    }

}

/* media  576px*/
@media only screen and (max-width:576px){
    /* header */
    .header{
        min-height: 60vh;
    }
    /* welcome */
    .welcome-msg{
        margin-left: 0;
        margin-top: -30px;
    }
    /* sub-main */
    .sm-c{
        text-align: center;
    }

    /* page 2 */
    /* three image */
    .three-img img{
        width: 80% !important;
        margin-bottom: 10px !important;
    }
    .text-sm-center{
        text-align: center !important;
    }

    /* page 5-1 */
    .three-title{
        font-size: 10px;
    }
    .three-use{
        border-bottom: 4px solid #96cc2a;
    }
    .page5-map iframe{
        min-height: 50vh;

    }
    /* page 5-3 */
    .vdeo iframe{
        min-height: 30vh;
    }
    .div-hover a{
        font-size: 12px;
    }
}
























